<footer class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item">Running on <a href="https://www.linode.com/">Linode</a>.</li>
            <li class="nav-item">&nbsp;Inspired by <a href="https://hashnode.com/">Hashnode</a>'s <a href="https://townhall.hashnode.com/build-with-linode-hackathon-june-2022?source=hashnode_countdown">hackathon</a>.</li>
        </ul>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
</body>
</html>