<%- include('header', {title: "TL;DR: Hashnode for people who lack time"}) %>
<div class="jumbotron tldr-colour">
    <div class="container">
        <h1>TL;DR: Hashnode Automated Summaries</h1>
        <p>Here's the what's hot from <a href="https://hashnode.com" class="text-light">Hashnode</a>. Each post is summarized to 3 sentences.</p>
    </div>
</div>
<br />
<div class="container" id="the-content">
    
</div>

<script src="/js/hashnode.js"></script>
<%- include('footer') %>