<%- include('header', {title: "TL;DR: Automated summaries for people who lack time"}) %>
<div class="jumbotron tldr-colour">
    <div class="container">
        <h1>TL;DR: Automated Summaries</h1>
        <p>Like being in the know but not spending all that time reading to be in the know? TL;DR: Automated Summaries can help!</p>
        <p>TL;DR takes all of the important stuff out of those drawn out novels you're trying to read. Simply feed it the content and how much you want to know, and it'll spit out all you need to know. Ya know?</p>
        <p>If knowledge is power, and time is valuable, then TL;DR is powerfully valuable.</p>
    </div>
</div>

<div class="container">
    <h1>Try It!</h1>
    <div class="row">
        <div class="col-md-6 panel panel-default">
            <textarea id="story" class="form-control"><%- include('sample') %></textarea>
            <div class="form-inline">
                <div class="form-group">
                    <label>Sentences&nbsp;</label>
                    <select id="sentences" class="form-control" style="float: left;">
                        <option>10</option>
                        <option>7</option>
                        <option>5</option>
                        <option selected>3</option>
                        <option>1</option>
                    </select>
                </div>&nbsp;
                <button id="clear" type="button" class="btn btn-danger">Clear</button>
                &nbsp;
                <button id="send" type="button" class="btn btn-success">Summarize</button>
            </div>
        </div>
        <div class="col-md-6 panel panel-default">
            <p id="the-summary"></p>
        </div>
    </div>
</div>

<div class="container">
    <br /><br />
    <h2>Technologies</h2>
    <p>
        Written in <a href="https://nodejs.org">nodejs</a>.
        Using NaturalNode's <a href="https://github.com/NaturalNode/natural">natural</a> and <a href="https://github.com/NaturalNode/node-sylvester">sylvester</a>.
        Running on <a href="https://expressjs.com/">Express</a> with <a href="https://ejs.co/">ejs</a>.
    </p>
    <p>
        Server powered by <a href="https://www.linode.com/">Linode</a>. Built for <a href="https://hashnode.com/">Hashnode</a>'s Hackathon.
    </p>
    <br /><br />
</div>
<script src="/js/index.js"></script>
<%- include('footer') %>